version: "3.8"
services:
  my-database:
      image: "postgres:15.1-alpine3.17"
      environment:
         POSTGRES_DB: pick_your_spot
         POSTGRES_USER: username
         POSTGRES_PASSWORD: password
      container_name: postgresdb
      ports:
        - "5433:5432"
      volumes: 
      - db:/var/lib/postgresql/data
      restart: always
      networks:
        - my-network
  spring:
    build:
      context: backend
    container_name: springbootapp

    depends_on:
      - my-database
    ports:
      - "8080:8080"
    networks:
        - my-network
    environment:
      SECRET_KEY: 3979244226452948404D635166546A576E5A7234753778214125432A462D4A61
      SPRING_DATASOURCE_URL: jdbc:postgresql://my-database:5432/pick_your_spot
      POSTGRES_USERNAME: username
      POSTGRES_PASSWORD: password
  react:
    build: 
      context: frontend
    container_name: react-app
    depends_on:
      - spring
    ports:
      - "3000:3000"
    networks:
      - my-network
    environment:
      - REACT_APP_GMAP_API_KEY=AIzaSyBS_FpXm9bCjGKQoHwHkgZbQGZ8a3vly0Y
      - REACT_APP_BACKEND=http://springbootapp:8080

networks:
  my-network:
    driver: bridge
    
volumes:
  db:
    driver: local