.registratinoContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.registrationFormDiv {
    display: flex;
    justify-content: center;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 1vh;

}