<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input">
        <label for="password-input">Password:</label>
        <input type="password" id="password-input">
        <button type="submit">Submit</button>
    </form>
</body>
</html>